<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="deepdive.cnm.edu.linkorganizer">

  <application
    android:screenOrientation="portrait"
    android:allowBackup="true"
    android:icon="@mipmap/web_link_chain"
    android:label="@string/app_name"
    android:name=".LinkOrganizerApplication"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:label="@string/app_name"
      android:name=".controller.MainActivity"
      android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity       android:label="@string/app_name"
      android:name=".controller.LoginActivity">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>